
.SeePopular_card {
    flex-direction: column;
    align-items: center;
    /* padding: 12px; */
    border-radius: 16px;
    background:#FFF;
  }
  
  
  .SeePopular_card  .Popular_image img {
    width: 100%;
    border-radius: 8px;
  }
  .SeePopular_card  .padd{
    padding-left: 12px;
  }
  .SeePopular_card  .Popular_text span {
    color:#5B9EE1;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    
  }
  
  .SeePopular_card .Popular_text h2 {
    color: #1A2530;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  
  .buy {
    padding-top: 12px;
    
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
  
  .buy p {
    color:#1A2530;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  
  
  .add-to-cart {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    width: 34px;
    height: 35.5px;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    flex-shrink: 0;
    
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
  } 
  