@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Основной контейнер */
.allProduct {
    max-width: 375px;
    min-height: 100vh;
    margin: auto;
    background: #F8F9FA;
    padding: 30px 20px; 
}

/* Header */
header {
    margin: 0; 
}

/* Обертка для header */





