.best_card {
    position: relative;
    align-items: center;
    padding: 9px;
    border-radius: 16px;
    background: #FFF;
    height: 200px;
  }
  .best_card a{
    text-decoration: none;
  }
  .best_card .best_image{
    overflow: hidden;
    width: 100%; /* Задаем ширину карточки */
    max-width: 160px;
  }
  .best_card .best_image .best_img {
    width: 100%; /* Изображение занимает всю ширину карточки */
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .best_card .best_text .best {
    color:#5B9EE1;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
  }
  
  .best_text .best_title {
    color: #1A2530;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  
  .best_card .best_buy {
    padding-top: 12px;
    display: flex;
    text-align: center; 
    gap: 10px;
    justify-content: space-between;
  }
  
   .best_card  .best_buy .best_price {
    color:#1A2530;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  
  
  .best_card  .crug {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-right: 10px;
    gap: 5px;
  }

  .best_card  .crug div {
    width: 15px;
    height: 15px;
    gap: 10px;
    background-color: greenyellow;
    border-radius: 50%;
  }